.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans h1 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.plans h4 {
    margin-bottom: 30px;
    font-size: 1.3rem;
    color: #a8a8a8;
}

.ctn-plans {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
}

.plan {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 720px;
    padding: 25px;
    border: 1px solid #333;
    border-radius: var(--border);
}

.plan h1 {
    display: flex;
    font-size: 2rem;
    font-weight: 600;
}

.plan h3 {
    margin: 15px 0;
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    color: #d2d2d2;
    gap: 5px;
}

.plan h3 span {
    color: #fff;
}

.plan h2 {
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 600;
    color: #f5f5f5;
}

.price {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background: #101010;
}

.price h1 {
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
    color: #d7d7d7be;
}

.price h1 span {
    font-size: 2.5rem;
    color: #ffffff;
}

.price h2 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #d2d2d2;
}

.plan button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 7px;
    cursor: pointer;
    transition: var(--transition);
}

.plan button:hover {
    transform: scale(0.98);
    color: #000000;
    background: #fff;
    border: none;
}

.plan .active {
    color: #000000;
    background: #fff;
    border: none;
    cursor: not-allowed;
}

.plan .ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 5px 0;
}

.plan .ul li i {
    color: #0049b7;
}

.plan .ul li {
    display: flex;
    margin-top: 20px;
    width: 100%;
    gap: 7px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #d2d2d2;
}

.sec-payment-methods {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-payment-methods h2 {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
}

.sec-payment-methods h3 {
    margin-top: 3px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #8d8d8d;
}

.pay-met {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.3rem;
}

@media (width < 720px) {

    .plans h4{
        font-size: 1.2rem;
        display: flex;
        text-align: center;
    }

    .ctn-plans {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
        gap: 40px;
    }

    .plan{
        width: 90%;
    }
}